$bannerColor: #AA8888;
$textSpicy: #B6FF98;
$imageHeight: 300px;

body {
    background-color: #EEF0FF;
    margin: 0;
    font-family: 'Indie Flower', sans-serif
}
h1, h2, p, ul, li {
    font-family: 'Indie Flower', sans-serif;

}

ul.header li {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    display: inline;
    list-style-type: none;
    font-family: 'Indie Flower', sans-serif
}
ul.header {
    background-color: $bannerColor;
    padding: 0;
    margin: 0;
}
ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}
.content {
    font-family: 'Indie Flower', sans-serif;
    background-color: #FFF2F2;
    padding: 20px;
    margin-left: 80px;
    margin-right: 80px;
}
.content h2 {
    font-family: 'Indie Flower', sans-serif;
    padding: 0;
    margin: 0;
}
.content li {
    font-family: 'Indie Flower', sans-serif;
}
.active {
    background-color: #E7E7E7;
    color: #FF1212 !important;
}
.store-name {
    vertical-align: middle;
    font-size: 2rem;
    color: $textSpicy;
    margin-left: 10px;
    margin-right: 10px;
}
ul.footer li {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    display: inline-block;
    list-style-type: none;
    font-family: 'Indie Flower', sans-serif;
    width:100%;
}
ul.footer {
    bottom: 0;
    background-color: $bannerColor;
    padding: 15px;
    margin: 0;
    color: $textSpicy;
}
.card {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #e0e0e0 ;
    margin: 5px;
}
.card .card-header {
    background-color: #F5F5F5;
    color:#C00606;
    padding: 5px;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
}
.card .card-content {
    padding: 5px;
}
.image_1 {
    background-image: url('./static/ijsimages/carousel/blanco.jpg');
    background-size: cover;
    height: $imageHeight;
    vertical-align: middle;

}
.image_2 {
    background-image: url('./static/ijsimages/carousel/Roomijs_Appeltaart.jpg');
    background-size: cover;
    height: $imageHeight;
    vertical-align: middle;

}
.image_3 {
    background-image: url('./static/ijsimages/carousel/Roomijs_Belgian_Chocolate.jpg');
    background-size: cover;
    height: $imageHeight;
    vertical-align: middle;

}
.image_4 {
    background-image: url('./static/ijsimages/carousel/Roomijs_Maple_Walnoot.jpg');
    background-size: cover;
    height: $imageHeight;
    vertical-align: middle;

}
.carousel-h-text {
    font-size: 2em;
    color:#893838;
    text-align: center;
    text-shadow: 1px 0px #510d0d;

}
.carousel-b-text {
    vertical-align: middle;
    font-size: 2em;
    color: #4CE032;
    text-align: center;
    text-shadow: 2px 0px #004d40;
}
.contact-container {
    background-color: #79972A;
    border: 1px solid #fff;
    border-radius: 2px;
    padding: 10px;
    color: #fff;
}
.contact-page {
    margin: -20px;
    background-color: #99BF35;
}
.contact-title {
    text-align: center;
    color: #fff;
    font-size: 4rem;
}
.elip {
    border-radius: 50%;
}